@model WebApplicationmovies.NeeranjMovie

@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div>
    <h4>NeeranjMovie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MovName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealaseDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
